<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{asset('image/icon-blog.png')}}">
		<title>
			{% block title %}
				Blog AFPA Calais
			{% endblock %}
		</title>
		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet"> {% block css %}{% endblock %}
		</head>
		<body>
			{% include 'menu.html.twig' %}
			{% block body %}{% endblock %}
			{% include 'footer.html.twig' %}
			<script src="{{asset('js/jquery.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
			{% block js %}{% endblock %}
		</body>
	</html>
